In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import sklearn

##### Series 就是如同一个列表一样，但是每一个数据后面都是有一个索引值的
##### 其中的数据结构可以是任意的，其实可以说是 倒着的 list，很是形象
######  其中的一个就是，

In [2]:
s=pd.Series(np.arange(6))
print(s)
print(s.values ) #进行输出其中的数据，是一个np.array() 类型的 
print(s.index)   #输出其中的标签

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32
[0 1 2 3 4 5]
RangeIndex(start=0, stop=6, step=1)

上面的是  pandas.Series 中的index是默认的形式，这个也是可以进行修改的
######  Series([],index=[1,2,3,4...])    其中的都是列表

In [3]:
a=['china','japan','123']
s1=pd.Series(np.array(a),index=np.arange(len(a)))
print(s1)
print(s1[0])   #就是列表的输出形式，是一样的,也是很像字典的，

0    china
1    japan
2      123
dtype: object
china

#### 下面还有一种定义Series 对象的形式

In [20]:
sd={'china':8000,'c':111,'jabva':234}
s2=pd.Series(sd)   #将字典转化为Series对象
print(s2)

china    8000
c         111
jabva     234
dtype: int64

#### 还有一种的引用，下面的这种

In [21]:
s3=pd.Series(s2,index=['c++','mhina','jabva','123123'])  #会自动的去找
#前面那个 索引去，找不到index 对应的那个，则这个index 的值就是NaN 
print(s3)

c++         NaN
mhina       NaN
jabva     234.0
123123      NaN
dtype: float64

pandas 还有专门判断Series中的 值是否为空

In [22]:
pd.isnull(s3)   #其中的数值是否为空
pd.notnull(s3)  #这个是不空的是True
s3.isnull()    #对于对象也是有这个内置方法的
s3.notnull()

c++       False
mhina     False
jabva      True
123123    False
dtype: bool

对于索引的名字，是可以重新定义的， s3.index=[...]

In [23]:
s3.index=[1,2,3,3]
print(s3)
s3=pd.Series(s3.values,index=[1,0,0,0])   #对于对象也是可以进行修改的
s3

1      NaN
2      NaN
3    234.0
3      NaN
dtype: float64

1      NaN
0      NaN
0    234.0
0      NaN
dtype: float64

接下来一些Series 的操作

In [24]:
s2

china    8000
c         111
jabva     234
dtype: int64

In [25]:
s2>333    #进行values 比较操作，很强

china     True
c        False
jabva    False
dtype: bool

In [26]:
s2+1     #进行  values 加法操作

china    8001
c         112
jabva     235
dtype: int64

In [27]:
s2*2      #进行values 乘法操作

china    16000
c          222
jabva      468
dtype: int64

In [28]:
s3
s2

china    8000
c         111
jabva     234
dtype: int64

In [29]:
s2=pd.Series(s2,['china','d++ ','jabva','12'])
s2

china    8000.0
d++         NaN
jabva     234.0
12          NaN
dtype: float64

In [30]:
a=pd.Series({1:2,3:4})
b=pd.Series({1:100,3:100})
print(a)
print(b)

1    2
3    4
dtype: int64
1    100
3    100
dtype: int64

In [31]:
a+b   # 应该是索引是一样的，而且values 是相同的

1    102
3    104
dtype: int64

In [32]:
n=Series([4,1,2],index=[0,123,12])
s={'apple':'a','a':1,'ab':2 }
n1=Series(s)
print(n)
print(n1)

0      4
123    1
12     2
dtype: int64
apple    a
a        1
ab       2
dtype: object

In [34]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
ser3 = Series(sdata)
ser3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

### 下面是DataFrame 操作，就是一种表格的形式
###### 其中有 index, colunmns  来表示位置

In [61]:
np.random.seed(1)
a=DataFrame(np.random.randn(6,4),index=np.arange(6),columns=np.arange(4))
#注意的是，使用np 矩阵来弄的话,需要调整 index,columns 的数量
print(a[0][0])   #使用下标索引来 输出数据
a

1.6243453636632417

          0         1         2         3
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
3 -0.322417 -0.384054  1.133769 -1.099891
4 -0.172428 -0.877858  0.042214  0.582815
5 -1.100619  1.144724  0.901591  0.502494

##### 使用字典 创建Dataframe    字典的key 就是一个个的columns, values 就是一个个的向量 ,每一个向量中的数量是样例的个数，确实是

In [73]:
d={'name':['ts','apple','china'],'age':[1,2,3]}  
DataFrame(d)

    name  age
0     ts    1
1  apple    2
2  china    3

使用 index columns 来创建DataFrame的时候，他们的数量可以 不相同。
###### 但是使用字典创建的 需要注意其中的数量关系
###### 下面，使用  index, columns 创建一个已有的DataFrame，可以进行加 columns

In [80]:
newa=DataFrame(d,index=['a','b','c'],columns=['name','age', 'price', 'marks', 'debt'])
newa

    name  age price marks debt
a     ts    1   NaN   NaN  NaN
b  apple    2   NaN   NaN  NaN
c  china    3   NaN   NaN  NaN

### 进行添加行操作 append()

In [88]:
newa.append()

    name  age price marks debt
a     ts    1   NaN   NaN  NaN
b  apple    2   NaN   NaN  NaN
c  china    3   NaN   NaN  NaN